extends layout

block content
    title= title
    script(type="text/javascript",src="/javascripts/home.js")
    #container.clearfix
        #home_l
            h3 有什么新鲜事，分享一下吧~
            #post_micro.clearfix
                .area_w
                    textarea(id="textarea_blog")
                span#arrow
                button(id="button_blog").formbtn_l  发表
            #micro_list.clearfix
                h4 好友微博
                ul(id="blog_ul")
        #home_r
            #user_info.clearfix
                img(src="/images/large.png")
                ul#user_r
                    li #{session.user.name}
                    li xxxxxxxxx
                    li xxxxxxxxx
            #friends_sg.clearfix
                h4 好友推荐
                ul
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx