extends layout
block content
    title= title
    #container.clearfix
        #home_l
            #post_micro
                textarea
                button
        #home_r
            #user_info
                span #{session.user.name}
                img(src="/images/normal.jpg")
