extends layout
block content
    title= title
    #container.clearfix
        #home_l
            h3 有什么新鲜事，分享一下吧~
            #post_micro.clearfix
                .area_w
                    textarea
                span#arrow
                button.formbtn_l  发表
            #micro_list.clearfix
                h4 好友微博
                ul
                    li
                        img(src="/images/normal.jpg")
                        .micro_co
                            h4 8090唱歌学堂
                            span 总以为淘宝商家的价格很黑，其实是淘宝买家的身份不够尊贵！偶然发现速买易，只需用淘宝账户登入，即可拥有最尊贵的身份，即可享受可高达55%的返利，收货当日内即可到账，绝不耽误~！超光速分享：(链接在评论里额)
                    li
                        img(src="/images/normal.jpg")
                        .micro_co
                            h4 每天搞笑排行榜
                            span 中国有一代人，读大学时，小学不要钱，读小学时，大学不要钱，没工作时，工作是分配的，可以工作时，被自谋职业，没挣钱时，房子是分配的，能挣钱时，发现根本买不起房子娶不到老婆，没有进股市时，傻子都挣钱，等进股市时自己成了傻子，抱怨后依然坚韧的活着，他们就是80后。
                    li
                        img(src="/images/normal.jpg")
                        .micro_co
                           h4 月光博客
                           span 【Google合并三大服务存储空间为15GB】据谷歌官方博客报道，谷歌即将在未来几周内将整合Google Drive、Gmail 和 Google 相册的存储空间，原先Gmail服务提供的免费存储容量为10G，Google Drive和Google 相册共...
        #home_r
            #user_info.clearfix
                img(src="/images/large.png")
                ul#user_r
                    li #{session.user.name}
                    li xxxxxxxxx
                    li xxxxxxxxx
            #friends_sg.clearfix
                h4 好友推荐
                ul
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx
                    li
                        img(src="/images/normal.jpg")
                        span xxx