extends layout
block content
  #container1
      br
      #index_l
        img(width=450,height=330,src="/images/index.png")
      #index_r
          form(name="form_login",action="/login",class="form_horizon",method="post")
              h2#login_img 用户登录
              .formblock
                  label(class="user_label",for="email")
                      span(class="required") *
                      邮箱：
                  input(type="text",name="email",id="email")
              .formblock
                  label(class="pwd_label",for="password")
                      span(class="required") *
                      输入密码：
                  input(type="password",name="password",id="password")
                  br
              button(id="loginbtn",class="formbtn") 登录
              &nbsp;&nbsp;
              a(href="/register") 注册
              &nbsp;&nbsp;
              a(href="/forgetPsd") 忘记密码