doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript',src='/javascripts/jquery.js')
        script(type='text/javascript',src='/javascripts/main.js')
        if session.user != null
            script(type='text/javascript',src='/javascripts/notification.js')
    body
        block head
            .header
                .header_in
                    .logo
                        a(href='/')
                            img(src='/images/logo.png')
                    .reglog
                        ul(class='header_r')
                            if session.user == null
                                li
                                    a(href='/login') 登录
                                li
                                    a(href='/register') 注册
                            else
                                form(action="/find")
                                    li
                                        input(type="text", name="keyword", id="keyword")
                                        button(id="search")
                                    a(href="#")
                                        li(id="user") &nbsp;
                                        li(class="bubble")
                                    a(href="#")
                                        li(id="msg") &nbsp;
                                        li(class="bubble")
                                        li(id="msg_line",class="hide")
                                            dt(id="msg_list")
                                                dl
                                                    span xxx请求加您好友
                                                    button(id="accept_friends",class="formbtn_l") 同意
                                                    button(id="reject_friends",class="formbtn_l") 拒绝
                                                dl xxx请求加您好友
                                    a(href="#")
                                        li(id="set") &nbsp;
                                    a(href="/logout")
                                        li(id="logout") &nbsp;

        block content