doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript',src='/javascripts/jquery.js')
        script(type='text/javascript',src='/javascripts/main.js')
    body
        block head
            .header
                .logo
                    a(href='/')
                        img(src='/images/logo.png')
                .reglog
                    ul(class='header_r')
                        if session.user == null
                            li
                                a(href='/login') 登录
                            li
                                a(href='/register') 注册
                        else
                            form(action="/find")
                                li(id="msg") &nbsp;
                                dt(id="msg_list",class="hide")
                                    dl
                                    dl
                                li(id="user") &nbsp;
                                li(id="logout") &nbsp;
                                li
                                    input(type="text", name="keyword", id="keyword")
                                    button(id="search")
                                li
                                    a(href='/logout') 退出
        block content