doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript',src='/javascripts/jquery.js')
        script(type='text/javascript',src='/javascripts/main.js')
        if session.user != null
            script(type='text/javascript',src='/javascripts/notification.js')
            script(type='text/javascript',src='/javascripts/friend.js')
    body
        block head
            .header
                .header_in
                    .logo
                        a(href='/')
                            img(src='/images/logo.png')
                    .reglog
                        ul(class='header_r')
                            if session.user == null
                                li
                                    a(href='/login') 登录
                                li
                                    a(href='/register') 注册
                            else
                                form(action="/find")
                                    li
                                        input(type="text", name="keyword", id="keyword")
                                        button(id="search")

                                ul(id="user_hover",href="#")
                                    li(id="user") &nbsp;
                                    li(class="bubble")
                                    li(id="user_line",class="hide")
                                        dt
                                ul(id="msg_hover")
                                    li(id="msg") &nbsp;
                                    li(class="bubble")
                                    li#msg_line.hide
                                        dt
                                            dl.comments_list
                                                span
                                                    a(href="#") xxxx
                                                    &nbsp; 新信息
                                                button(id="seecmt",class="formbtn_l") 查看
                                            dl.msgs_list
                                                span
                                                    a(href="#") xxxx
                                                    &nbsp; 新信息
                                                button(id="seemsg",class="formbtn_l") 查看
                                ul#set_hover(href="#")
                                    li#set &nbsp;
                                    li#set_line.hide
                                        dt
                                            dl.friends_list
                                                span
                                                    a(href="/friends") 好友列表
                                            dl.message_list
                                                span
                                                    a(href="/inbox") 我的私信
                                            dl.forgetPsd
                                                span
                                                    a(href="/resetPassword") 忘记密码
                                            dl.logout
                                                span
                                                    a(href="/logout") 退出登录



        block content