//
   Created with JetBrains WebStorm.
   User: Sophia
   Date: 13-5-6
   Time: 下午10:29
   To change this template use File | Settings | File Templates.

extends ../layout
block content
    #container
        h2  收信箱  &nbsp;&nbsp;
        if (messages != null)
            for message,index in messages
                li #{index + 1}.
                a(href="/showMessage?id=#{message.id}") #{message.title}
                &nbsp;&nbsp;from &nbsp;&nbsp;
                a(href="#") #{message.name}
                &nbsp;&nbsp;
                if message.is_read == '0'
                    未读
                else
                    已读
                br


