body {
  font: 14px "微软雅黑","黑体";
}
body,div,ul,li,img,dl,dt{
    margin: 0;
    padding: 0;
}
ul{
    float: left;
}

li{
    list-style: none;
    float: left;
}
#container{
    width:1024px;
    margin: 0 auto;
}
*:focus {outline: none;}
a {
  color: #2F6FAD;
  text-decoration: none;
}

#index_l img{
    margin: 20px 20px;
}
#index_r{
    float: left;
    margin:20px 5px;
}

#index_r h2,#container>h2{
    margin-left: 40px;
}
.header_r li input{
    float: left;
}
.header_r>a{
    display: block;
    float: left;
}

.header_r div{
    float: left;
}
.header{
    height: 48px;
    font-size: 16px;
    background: #2F6FAD;
}
.header_in{
    height:48px;
    width:1064px;
    margin:0 auto;
}
.logo{
    float:left;
    padding: 4px 8px;
}
.reglog{
    padding: 0 9px;
    float: right;
}
.reglog li{
    padding:9px 4px;
    margin:0 5px;
}

.reglog li a{
    color:#3498d8;
    line-height: 27px;
    font-weight: bold;
}
.reglog li a:hover{
    text-decoration: underline;
}
.header_r{
    height:48px;
}
.header_r>li a{
    color: #fff;
}
.header_r>li a:hover{
    color: #ddd;
    text-decoration: none;
}
.reglog input{
    height: 23px;
    border-radius: 15px;
    border: 1px solid #eee;
    text-indent: 1em;
    background: #fff url('/images/search-button.png') top right no-repeat;
}
.reglog input:hover{
    background-position: bottom right;
}
#search{
    cursor: pointer;
    width: 36px;
    height: 29px;
    position: absolute;
    margin-left: -38px;
    margin-top: -1px;
    background: transparent;
    border: 0;
}
.return{

}
.form_horizon input{
    margin: 5px 0;
    text-indent: 5px;
    height: 30px;
    width: 270px;
    padding: 0 0 0 1px;
    border-radius: 3px;
    border:1px solid #ccc;
}

.formbtn,.formbtn_l{
    background: #2F6FAD;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #2F6FAD;
    font: 15px '微软雅黑' ;
    border-radius: 3px;
    margin-left: 220px;
}
.formbtn_l{
    background: #e67e22;
    padding: 1px 5px;
    font: 12px '微软雅黑' ;
    margin-left: 6px;
    border: 1px solid #e67e22;
}

input.inputfocus{
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.075);
    moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

}

#index_l{
    float: left;
    width: 600px;

}

.form_horizon label{
    width:97px;
    display: block;
    float: left;
    text-align: right;
    padding: 11px;
}

.required{
    color:red;
    padding: 0 3px;
}

.formblock{
    height: 45px;
}

#msg,#user,#logout,#set,li.bubble{
    background: url('/images/buttons.png') no-repeat;
    padding:4px 16px;
}
#user{
    background-position: 0 0;
}


#msg{
    background-position:-75px 3px ;
}

#set{
    background-position: -33px 0;
}

#logout{
    background-position: -150px 0;
    margin: 9px 0;
}

li.bubble {
    position: absolute;
    margin-left: 25px;
    height: 15px;
    width: 18px;
    background-position: -209px -7px ;
    padding:0 2px 0 9px;
    color: #fff;
    font:15px calibri,monospace ;
    line-height: 15px;
    display: none;
}

#msg_line dt,#user_line dt,#set_line dt{
    font-size: 13px;
    border: 3px solid #2F6FAD;
    border-radius: 6px;
    padding:3px;
}

#user_hover,#msg_hover,#set_hover{
    padding: 9px 0;
}
#msg_line dt dl,#user_line dt dl,#set_line dt dl{
   padding:2px 3px;
}

#msg_line,#user_line,#set_line{
    position: absolute;
    margin-left: -200px;
    background: url(/images/buttons.png) no-repeat 200px -345px;
    padding-top: 54px;
    display: none;
}
#user_line{
    margin-left:-190px;
}
#msg_line{
    margin-left:-20px;
    background-position:29px -345px;
}
#set_line{
    margin-left:0;
    background-position: 15px -345px;
}
.more{
    padding:0 4px;
    float: left;
}