body {
  font: 14px "微软雅黑","黑体";
  color: #333333;
}
body,div,ul,li,img,dl,dt,textarea,form,h2,h4{
    margin: 0;
    padding: 0;
}
#tabs{
    width: 180px;
}
#container{
    width: 824px;
    float: left;
    margin-left: 10px;
}
#container1{
    width: 1024px;
}
ul{
    float: left;
}

li{
    list-style: none;
    float: left;
}
input,textarea{
    font: 13px "微软雅黑";
}
#wrapper{
    width:1024px;
    margin: 0 auto;
}
*:focus {outline: none;}
a {
  color: #2F6FAD;
  text-decoration: none;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content:' ';
    clear:both;
    height: 0;
}

#index_l img{
    margin: 20px 20px;
}
#index_r{
    float: left;
    margin:20px 5px;
}

#index_r h2,#container>h2{
    margin:10px 0 12px 20px;
    padding: 8px 0 8px 38px;
    line-height: 20px;
}
.header_r form{
    float: left;
}
.header_r li input{
    float: left;
}
.header_r>a{
    display: block;
    float: left;
}

.header_r div{
    float: left;
}
.header{
    height: 48px;
    font-size: 16px;
    background: #2F6FAD;
}
.header_in{
    height:48px;
    width:1024px;
    margin:0 auto;
}
.welcome{
    float: left;
}

.logo{
    float:left;
    padding: 4px 8px 0 8px;
}
.reglog{
    padding: 0 9px;
    float: right;
}
.reglog li{
    padding:9px 5px;
    margin:0 5px;
}
.welcome li{
    margin-top: 3px;
    color: #fff;
    font-size: 13px;
}
.reglog li a{
    color:#3498d8;
    line-height: 27px;
    font-weight: bold;
}
.reglog li a:hover{
    text-decoration: underline;
}
.header_r{
    height:48px;
}
.header_r>li a{
    color: #fff;
}
.header_r>li a:hover{
    color: #ddd;
    text-decoration: none;
}
.reglog input{
    width: 180px;
    height: 23px;
    border-radius: 15px;
    border: 1px solid #eee;
    text-indent: 1em;
    background: #fff url('/images/search-button.png') top right no-repeat;
}
.reglog input:hover{
    background-position: bottom right;
}
#search{
    cursor: pointer;
    width: 36px;
    height: 29px;
    position: absolute;
    margin-left: -38px;
    margin-top: -1px;
    background: transparent;
    border: 0;
}
.return{

}
.form_horizon input,.form_send input{
    margin: 5px 0;
    text-indent: 5px;
    height: 30px;
    padding: 0 0 0 1px;
    border-radius: 3px;
    border:1px solid #ccc;
}

.form_horizon input{
    width: 270px;
}

.form_send input{
    width: 450px;
}

.formbtn,.formbtn_l{
    background: #2F6FAD;
    padding: 5px 15px;
    color: #fff;
    border: 1px solid #2F6FAD;
    font: 15px '微软雅黑' ;
    border-radius: 3px;
    margin-left: 220px;
}
.formbtn_l{
    background: #e67e22;
    padding: 1px 5px;
    font: 12px '微软雅黑' ;
    margin-left: 6px;
    border: 1px solid #e67e22;
}

input.inputfocus,textarea#content.inputfocus{
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.075);
    moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

}

#index_l{
    float: left;
    width: 550px;

}

.form_horizon label,.form_send label{
    width:97px;
    display: block;
    float: left;
    text-align: right;
    padding: 11px;
}

.form_send label{
    padding-left: 4px;
    width: 85px;
}

.required{
    color:red;
    padding: 0 3px;
}

.formblock{
    height: 45px;
}

#msg,#user,#logout,#set,li.bubble{
    background: url('/images/buttons.png') no-repeat;
    padding:4px 16px;
}
#user{
    background-position: 3px 0;
}


#msg{
    background-position:-73px 3px ;
}

#set{
    background-position: 2px -33px;
}

#logout{
    background-position: -150px 0;
    margin: 9px 0;
}

li.bubble {
    position: absolute;
    margin-left: 25px;
    height: 15px;
    width: 18px;
    background-position: -209px -7px ;
    padding:0 2px 0 9px;
    color: #fff;
    font:15px calibri,monospace ;
    line-height: 15px;
    display: none;
}

#msg_line dt,#user_line dt,#set_line dt{
    font-size: 13px;
    border: 3px solid #2F6FAD;
    border-radius: 6px;
    padding:3px;
    background: #fff;
}
#set_line dt{
    background-color: #2F6FAD;
}
#set_line dt a{
    color: #fff;
}
#user_hover,#msg_hover,#set_hover{
    padding: 9px 3px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 1px;
}
#user_hover:hover,#msg_hover:hover,#set_hover:hover{
    background-color: #4e7eac;
}
#msg_line dt dl,#user_line dt dl,#set_line dt dl{
   padding:2px 3px;
}

#msg_line,#user_line,#set_line{
    position: absolute;
    margin-left: -200px;
    background: url(/images/buttons.png) no-repeat 200px -389px;
    margin-top: 38px;
    display: none;
}
#user_line dt dl>span{
    display: inline-block;
 }
#user_line{
    margin-left:-190px;
}
#msg_line{
    margin-left:-20px;
    background-position:33px -389px;
}
#set_line{
    margin-left:0;
    background-position: 15px -389px;
}
.reglog li a.more{
    padding:0 4px;
    float: left;
}
.reglog li a.no_more{
    padding:0 4px;
    float: left;
    text-decoration: none;
    color: #787878;
}
textarea#content{
    border: 1px solid #ccc;
    margin-top: 7px;
    border-radius: 3px;
    width:436px;
    padding: 8px;
    resize: vertical;
    font: 13px "微软雅黑";
}
#sendMessagebtn{
    margin-left: 488px;
    margin-top: 10px;
}
.red{
    color:#e67e22;
}
#tb_wrapper{

}
.list{
    margin:0 15px;
    border-collapse:collapse;
    background: #fafaf4
}
.list tr:first-child{
    background: #b4daf4;
    border-radius: 3px;
}
.list tr:last-child{
    height: 10px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.list tr:first-child:hover{
    background: #b4daf4;
}
.list tr{
     float: none;
     border-bottom: 1px dashed #ccc;
}
.list tr:hover{
    background: #f9ffc5;
}
.list td button{
    float: right;
    padding: 3px 10px;
    font-size: 14px;
    margin-left: 4px;
}
.list td,.list th{
     padding: 6px 25px;
}
.list th{
    font-size: 16px;
}

.list th:first-child{
    border-top-left-radius: 4px;
}
.list th:last-child{
    border-top-right-radius: 4px;
}
.tb_num span{
    padding:0 4px ;
    font-size: 13px;
    background: #e67e22;
    border-radius: 3px;
    color: #fff;
}
.list .tb_num{
    padding:4px 15px ;
}
.tb_photo img{
    margin: 4px 0 0 15px;
}

/*所有标题背景图标*/
#friends_img,#send_img,#login_img,#find_img,#inbox_img,#outbox_img,#show_img{
    background: url('/images/buttons.png') no-repeat;
}
#friends_img{
    background-position: -265px -32px;
}
#send_img{
    background-position: -263px -64px;
}
#find_img{
    background-position: -265px -187px;
}
#login_img{
    background-position: -263px -221px;
}
#inbox_img{
    background-position: -265px -417px;
}
#outbox_img{
    background-position: -265px -386px;
}
#show_img{
    background-position: -265px -354px;
}
/*END*/

.unread{
    color:#e74c3c ;
}
#show_message{
    border-top: 2px solid #2F6FAD;
    padding: 5px 15px;
    width:700px;
}

/*个人主页*/
#home_l{
    width: 580px;
    float: left;
    padding: 7px;
    margin:10px 6px 0 0;
}
#home_r{
    width:204px;
    float: left;
    border-radius: 4px;
    margin-top: 20px;
}
#post_micro{
    padding-bottom: 15px;
    border-bottom: 2px solid #2F6FAD;
}
#post_micro button{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 14px;
}
#post_micro textarea{
    width: 500px;
    min-height: 100px;
    border: 0;
    padding: 10px;
    resize: none;
}
.area_w{
    border: 1px solid #cdd;
    margin:0 50px 0 20px;
    width: 521px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 1px 0px #eaeaea inset;
    -moz-box-shadow: 1px 1px 1px 0px #eaeaea inset;
    box-shadow: 1px 1px 1px 0px #eaeaea inset;
}
#tabs ul{
    width: 180px;
    background: #f3f3f3;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.075);
    margin-top: 20px;
}
#tabs li{
    width: 100px;
    height: 20px;
    padding: 10px 40px;
    font-size: 14px;
}
#tabs li:hover{
    background:#eaeade url("/images/left_nav_border.png") no-repeat -120px 0;
}
#find_img+table,#friends_img,#friends_img+table{
    margin-left: 30px !important;
}
#arrow{
    display: block;
    width: 11px;
    height: 19px;
    position: absolute;
    margin-top: -93px;
    margin-left: 542px;
    background: url('/images/all_iconbtn.png') no-repeat -475px -275px;
}
#tabs span{
    background: url("/images/buttons.png") no-repeat;
    padding: 3px 13px;
    margin-right: 15px;
}
#tabs a{
    font-weight: bold;
}
#home_i span{
    background-position: -3px -201px;
}
#friend_i span{
    background-position: -3px -86px;
}
#msg_i span{
    background-position: -3px -114px;
}
#comment_i span{
    background-position: -3px -140px;
}
#outbox_i span{
    background-position: -3px -234px;
}
#set_i span{
    background-position: -3px -167px;
}
#help_i span{
    background-position: -3px -293px;
}
#home_l h3{
    margin-left: 15px;
}
#user_info,#friends_sg{
    padding:10px;
    background: #fafafa;
    border:1px solid #eee;
    margin-bottom: 15px;
}
#user_info img{
    float: left;
}
#user_info ul{
    margin-left: 10px;
    width: 75px;
}
#user_info li{
    width: 100%;
}
#friends_sg li{
    margin-top: 8px;
    padding: 0 1px 0 1px;
    text-align: center;
}
#friends_sg span{
    display: block;
}
#micro_list>h4{
    padding: 8px;
    color: #e67e22;
}
#micro_list li{
    padding: 15px 8px;
    width: 100%;
    border-bottom: 1px dashed #eee;
}
#micro_list img{
    float: left;
}
.micro_co{
    float: left;
    width: 470px;
    margin-left: 25px;
    padding: 7px 10px 0 10px;
    border: 1px solid #cce;
    border-radius: 4px;
    background: #fafafa;
}
.micro_co h4{
    color: #2F6FAD;
    margin-bottom: 5px;
}
.micro_co dt{
    float: left;
    width: 468px;
    display: none;
}
.micro_co dt img{
    margin-right: 8px;
}
.micro_co dl{
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.micro_co dl:last-child{
    border-bottom: 0px;
}
.write{
    display: block;
    float: right;
    margin: 5px 10px 10px 10px;
    cursor: pointer;
    color: #2F6FAD;
}
.comment_body{
    float: left;
    display: none;
    padding-bottom: 5px;
}
.comment_body textarea{
    width: 454px;
    padding: 7px;
    resize: none;
}
.comment_body button{
    float: right;
}
.micro_co dt span{
    padding: 5px;
    font-size: 13px;
}
.sentTime{
    font-size: 13px;
    color: #e67e22;
    margin-top: 8px;
    display: block;
    width: 180px;
    float: left;
}
#friends_sg button{
    font-size: 11px;
}