<li>
    <img src="/images/normal.jpg">
    <div class="micro_co">
        <div>
        <a href="#"><h4>{{name}}</h4> </a>
        <span>{{content}}&nbsp;&nbsp;({{created_at}})</span>
        </div>
        <span class="write"  for="{{id}}">评论</span>
        <div class="comment_body">
            <textarea id="textarea_comment_{{id}}"></textarea>
            <button class="formbtn_l" name="sendComment" for="{{id}}">发表</button>
        </div>
        <dt id="comment_dt_{{id}}">
        </dt>
    </div>
</li>